<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar"
                            src="https://scontent.fsgn13-4.fna.fbcdn.net/v/t1.6435-9/123879013_1459432597592929_5483856521564932952_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=xdR0Mxach20AX96n6gB&_nc_ht=scontent.fsgn13-4.fna&oh=00_AfCm0zFDJlrW-PwB2iKPIIkot_fVPPpltBMntYVRfXlTXw&oe=63E525F5"
                            alt="">
                        Lượm Phạm
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/products/create">Add new products</a>
                        <a class="dropdown-item" href="/me/stored/products">My products</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Log out</a>
                    </div>
                </li>
            </ul>
            <form method="get" action="/search" class="form-inline my-2 my-lg-0">
                <input name="query" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>