<div class="container">
    <div class="mt-4">
        <h3>Change password</h3>
        <form method="post" action="/user/login">
            <div class="form-group">
                <label for="exampleInputPassword1">Old password</label>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1"
                    placeholder="Old password">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">New password</label>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1"
                    placeholder="New password">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Confirm new password</label>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1"
                    placeholder="Confirm new password">
            </div>
            <button type="submit" class="btn btn-primary">Save change</button>
        </form>
    </div>
</div>